BPEL/TelcoServiceBPEL/src/TelcoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TelcoService" targetNamespace="http://j2ee.netbeans.org/wsdl/TelcoServiceBPEL/src/TelcoService"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/TelcoServiceBPEL/src/TelcoService" xmlns:ns="http://rs.udc.es/billing" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/TelcoServiceBPEL/src/TelcoService">
            <xsd:import namespace="http://rs.udc.es/billing" schemaLocation="BillingProviderService_schema1.xsd"/>
        </xsd:schema>
    </types>
    <message name="TelcoServiceOperationRequest">
        <part name="id_client" type="xsd:long"/>
        <part name="month" type="xsd:int"/>
        <part name="year" type="xsd:int"/>
    </message>
    <message name="TelcoServiceOperationResponse">
        <part name="id_bill" type="xsd:long"/>
        <part name="total_amount" type="xsd:double"/>
        <part name="charged" type="xsd:boolean"/>
        <part name="billed_phonecalls" type="ns:pricedPhoneCallsList"/>
    </message>
    <message name="BillNotification">
        <part name="id_client" type="xsd:long"/>
        <part name="month" type="xsd:int"/>
        <part name="year" type="xsd:int"/>
    </message>
    <message name="PaidNotification">
        <part name="id_client" type="xsd:long"/>
        <part name="month" type="xsd:int"/>
        <part name="year" type="xsd:int"/>
        <part name="isPaid" type="xsd:boolean"/> 
    </message>
    <portType name="TelcoServicePortType">
        <operation name="TelcoServiceOperation">
            <input name="input1" message="tns:TelcoServiceOperationRequest"/>
            <output name="output1" message="tns:TelcoServiceOperationResponse"/>
        </operation>
        <operation name="BillNotification">
            <input name="input2" message="tns:BillNotification"/>
        </operation>
        <operation name="PaidNotification">
            <input name="input3" message="tns:PaidNotification"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="TelcoService">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TelcoServicePortTypeRole" portType="tns:TelcoServicePortType"/>
    </plnk:partnerLinkType>
</definitions>
